<h1>New Post</h1>

<form action="/posts" method="post">
  <div>
    <label for="author_input">Author</label>
    <input id="author_input" type="text" name="author" placeholder="Author name">
  </div>
  <div>
    <label for="body_input">Body</label>
    <textarea id="body_input" name="body" placeholder="Post text"></textarea>
  </div>
  <div>
    <label for="image_input">Image URL</label>
    <input id="image_input" type="text" name="image" placeholder="https://example.com/image.jpg">
  </div>
  <button>Submit</button>
</form>
